/* #gridPanel{
    height:100px;
    overflow: scroll;
    position: relative;
} */

tablehead{
    text-align: right;
    color: green;
    /* position: sticky; */
}

th div {
  position: absolute;
  top: 0;
  left: auto;
  width: 25vw;
  background: gray;
}

tr {
  display: table;
  border-collapse: collapse;
  width: 75vw;
  table-layout: fixed;
}

#gridPanel
{
   /* top: expression(document.getElementById("gridPanel").scrollTop-2);
   left:expression(parentNode.parentNode.parentNode.parentNode.scrollLeft);
   position: relative;
   z-index: 20;
   width: 100%;
   height: 200px;
   overflow-y: auto;
   overflow: hidden; */
   position: absolute; bottom: 0;
   overflow-y: auto;
   height: 35%;
   margin-bottom: 10px;
  }

 #messageTable {

 }

#tablediv{
    /* align-items: center; */
}

#formtext{
    width:100%;
    height:100px;
    /* margin-left: 10%; */
    /* margin-right: 10%; */
}

#postbutton{
    margin-left: 46%;
}

#formdiv{
    width: 100%;
    height: 40%;
}

#content {
     margin-left: 20px;
}

.row.content {
    height: 400px
}

.sidenav {
    /* background-color: #f1f1f1; */
    background-color: black;
    height: 100%;
}
/* Set black background color, white text and some padding */


/* On small screens, set height to 'auto' for sidenav and grid */


@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}
